* {
  border: none;
  color: white;
  text-shadow: 0.2rem 0.3rem 0.1rem darkgrey;
  font-family: "DotGothic16", "Press Start 2P", system-ui, sans-serif;
  text-decoration: none;
}
body {
  margin: 0;
  background-color: lightcoral;
}

.search {
  /*Position*/
  margin-top: 3%;

  /*Size*/
  width:100%;
}

#search-box {
  /*Margin bellow*/
  margin-bottom: 8%;

  /*Size*/
  width: 100%;
  height: 60px;

  /*No border or bg*/
  border: none;
	background: rgba(0, 0, 0, 0);

  /*Text*/
  font-size: 3rem;
}

#answer-icon {
  /*Size & alignment*/
  width: 128px;
  height: 128px;
  display: inline-block;
}

#clock-container {
  /*Don't disable untill js runs*/
  display: none;

  /*Position*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  /*Center*/
  align-items: center;
  justify-content: center;
}

.clock-col {
  /*Position & margins*/
  position: relative;
  margin-left: 40px;
  margin-right: 40px;

  /*Stable width*/
  min-width: 90px;
}

.clock-label {
  /*Text style*/
  font-size: .9rem;
}

.clock-timer {
  /*Text style*/
  font-size: 3.6rem;
  font-weight: bold;
}
