* {
  /*Remove border from input boxes & other elements*/
  border: none;

  /*Include padding when sizing elements*/
  box-sizing: border-box;

  /*Text styling*/
  color: white;
  text-shadow: 0.15rem 0.2rem 0.1rem rgba(169, 169, 169, 0.7);
  font-family: "DotGothic16", "Press Start 2P", system-ui, sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: rgb(172, 108, 108);
}
body > * {
  height: 100vh;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
}
.flex-col {
  display: flex !important;
  flex-direction: column;
}

.shadow {
  box-shadow: 10px 10px 1px 0px rgba(52,58,69,0.6);
  -webkit-box-shadow: 10px 10px 1px 0px rgba(52,58,69,0.6);
  -moz-box-shadow: 10px 10px 1px 0px rgba(52,58,69,0.6);
}

/*Welcome section*/
#welcome {
  width: min(500px, 100vw);
  padding: 1.5rem;
}
#bio {
  flex-grow: 1;
  justify-content: center;
}
#clock-container {
  align-items: center;
  justify-content: space-between;

  /*Don't display until Javascript is loaded, so animations happen at the correct time*/
  display: none;
}
.clock-timer {
  font-family: "Press Start 2P", system-ui, sans-serif;;
}

/*Widgets section*/
#command-panel {
  padding: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}
#command-input {
  /*Size*/
  width: 95%;
  font-size: 1.6rem;

  /*Dark grey background*/
	background: rgb(52, 58, 60)
}
#widget {
  width: 95%;
  align-items: left;
}
#other-projects {
  align-items: center;
  place-content: center;
}